/* stylesheet for the fluid layout homepage */


/* CSS reset */


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* background      ---------------------------   */

.bg{
  width: 100%;
  height: 100%;
  background-color: #e2e2e2;

}
.maincontent{
	padding: 40px 0 60px;
}



/* navigation bar  ---------------------------   */

#nav{
  width: 960px;
  height: 80px;
  background-color: #0082c2;
  margin-left: auto;
  margin-right: auto;
}

#nav ul{
	float: right;
}

#nav li{
  display: inline;
  height: 60px;
}

#nav li a{
  display: inline-block;
  height: 80px;
  line-height:80px;
  padding:0 30px;
  font-family: sans-serif;
  font-size: 16px;
  text-decoration: none;
  color: #ffffff;
}

#nav li a:hover{
  background-color: #0064e2;
}

#logo{
  float: left;
	width: 100px;
	margin: 0;
	padding: 10px;
}


/* body style    -----------------------------   */

.mid_content{
	width: 960px;
	background-color: #ffffff;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 0;
}


/* introduction  ----*/

.intro{
	width: 900px;
	background-color: #ffffff;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	height: 240px;
}

.innovation{
	background-color: #68b4d5;
	display: inline-block;
	width: 24.99999%;
	float: left;
	height: 240px;
}

.support{
	background-color: #68d5b1;
	display: inline-block;
	width: 24.99999%;
	float: left;
	height: 240px;
}

.career{
	background-color: #6890d5;
	display: inline-block;
	width: 24.99999%;
	float: left;
	height: 240px;
}

.partner{
	background-color: #ff9458;
	display: inline-block;
	width: 24.99999%;
	float: left;
	height: 240px;
}

.intro h2{
	padding: 10px;
	font-size: 2em;
	font-family:sans-serif;
	font-weight: bold;
	color: #ffffff;
}

.intro p{
	padding: 6px 10px;
	font-family: sans-serif;
	font-size: 1em;
	color: #ffffff;
}

.button{
	background-color: #ffffff;
	font-family: sans-serif;
	text-align: center;
	width: 100px;
	padding: 4px;
	margin: 4px 10px 20px;
}

/*  projects ---------------- */

.projectblock{
	width: 900px;
	background-color: #ffffff;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	height: 340px;
}

.projectblock h1{
	padding: 20px 0;
	font-size: 1.5em;
	font-family:sans-serif;
	font-weight: bold;
	color: #797979;
	text-align: left;
}

.projectblock h2{
	padding: 15px 0;
	font-size: 1em;
	font-family:sans-serif;
	font-weight: bold;
	color: #e37400;
}

.projectblock p{
	padding: 6px 0;
	font-family: sans-serif;
	font-size: 0.8em;
	color: #5b5b5b;
}






.project{
	background-color: #ffffff;
	display: inline-block;
	width: 24%;
	float: left;
	height: 240px;
	margin:0 1.33333% 0 0;
}

.project2{
	background-color: #ffffff;
	display: inline-block;
	width: 24%;
	float: left;
	height: 240px;
}





/*  footer   --------------- */

.foot_bg{
	width: 960px;
	background-color: #f0eded;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 0;
}

.foot_container{
	width: 900px;
	background-color: #f0eded;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	height: 180px;
}

.footer{
	background-color: #f0eded;
	display: inline-block;
	width: 24.99999%;
	float: left;
	height: 180px;
}

.footer h2{
	padding: 20px;
	font-size: 1em;
	font-family:sans-serif;
	font-weight: bold;
	color: #5e5e5e;
}

.footer ul{
	padding: 0 35px;
	font-family: sans-serif;
	font-size: 0.8em;
	color: #5b5b5b;
	line-height: 20px;
}


/* social media platform ------- */

.socialmedia{
	background-color: #e2e2e2;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	height: 20px;
}

.socialmedia img{
	float: right;
	display: inline;
	margin: 20px 6px 10px;

}

.socialmedia h3{
	float: right;
	display: inline;
	line-height: 70px;
	font-family: sans-serif;
	margin: 0 6px;
	font-size: 1em;
	color: #5b5b5b;
}





/* end */
